### - What is Python: https://en.wikipedia.org/wiki/Python_(programming_language)

### - We will be using Python 3 (my current version: 3.9).

### - Two iPython notebooks will be posted for each class: without solutions (in advance), with solutions (after class).

### Variables

In [1]:
a=2
print(a)

2

In [2]:
type(a)

int

In [3]:
a=a+a
a

4

In [4]:
a=lambda x: x**2

In [5]:
type(a)

function

In [6]:
a(2)

4

### Types and Typecasting

In [7]:
print(type("5"))
print(type(5))
print(type(5.0))

<class 'str'>
<class 'int'>
<class 'float'>

In [8]:
a = "8"
b = 5
print(a+a)
print(a*3)
print(b+b)
print(a+b)

88
888
10

TypeError: can only concatenate str (not "int") to str

In [9]:
try:
    print(a+b)
except TypeError:
    print(int(a)+int(b))

13

In [10]:
import numpy as np
import pandas as pd

In [11]:
type(np.array([1,0,0]))

numpy.ndarray

In [12]:
type(pd.Series([1,0,0]))

pandas.core.series.Series

### Operators

Python offers the usual operators such as +,-,/,\*,=,>,<,==,!=,&,|, (sum, difference, divide, product, assignment, greater than, less than, equal - comparison,not equal, and, or, respectively).
Additionally, there are %,// and \*\* (modulo, floor division and ‘to the power’). Note a few specifics:

In [13]:
5/2 # note: this equals 2.5 in Python 3 and 2 in Python 2.  Careful of integer division bugs if using Python 2!

2.5

In [14]:
5.0/2 # note: this equals 2.5 in Python 3 or Python 2

2.5

In [15]:
5%2

1

In [16]:
5==2

False

In [17]:
5!=2

True

In [18]:
(5==2)&(5!=2)

False

In [19]:
(5==2)|(5!=2)

True

### Iterators

In [20]:
for i in range(1,10):
     print(i)

1
2
3
4
5
6
7
8
9

In [21]:
i = 1
while i < 10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9

### Conditional Statements

In [22]:
a = 20
if a >= 22:
   print("if")
elif a >= 21:
    print("elif")
else:
    print("else")

else

### Strings and String Handling

In [23]:
a = "A string of characters, with newline \n CAPITALS, etc."
print(a)
b=5.0
newstring = a + "\n We can format strings for printing %.2f"
print(newstring %b)

for i in range(1474,1490,3):  
    st="{}@nyu.edu".format(i)
    print(st)

A string of characters, with newline
 CAPITALS, etc.
A string of characters, with newline
 CAPITALS, etc.
 We can format strings for printing 5.00
1474@nyu.edu
1477@nyu.edu
1480@nyu.edu
1483@nyu.edu
1486@nyu.edu
1489@nyu.edu

In [24]:
a = "ABC DEFG"
print(a[1:3])
print(a[0:5])

BC
ABC D

In [25]:
a = "ABC defg"
print(a.lower())
print(a.upper())
print(a.find('d'))
print(a.replace('de','a'))
print(a)
b = a.replace('def','aaa')
print(b)
b = b.replace('a','c')
print(b)
b.count('c')

abc defg
ABC DEFG
4
ABC afg
ABC defg
ABC aaag
ABC cccg

3

regular expression in python: https://docs.python.org/2/library/re.html

### Lists, Tuples, Dictionaries

list

In [26]:
a_list = [1,2,3,"this is a string",5.3]
b_list = ["A","B","F","G","d","x","c",a_list,3]
print(b_list)

['A', 'B', 'F', 'G', 'd', 'x', 'c', [1, 2, 3, 'this is a string', 5.3], 3]

In [27]:
a_list[0]

1

In [28]:
a_list[-1]

5.3

In [29]:
a_list[0::2]

[1, 3, 5.3]

In [31]:
import random

a = [1,2,3,4,5,6,7]
a.insert(0,0)
print(a)
a.append(8)
print(a)
a.reverse()
print(a)

print(a[::-1])
print(a)

random.shuffle(a)
print(a) 

a.sort()
print(a)
a.pop()
print(a)
a.remove(3)
print(a)
a.remove(a[4])
print(a)

[0, 1, 2, 3, 4, 5, 6, 7]
[0, 1, 2, 3, 4, 5, 6, 7, 8]
[8, 7, 6, 5, 4, 3, 2, 1, 0]
[0, 1, 2, 3, 4, 5, 6, 7, 8]
[8, 7, 6, 5, 4, 3, 2, 1, 0]
[6, 5, 0, 7, 8, 2, 3, 1, 4]
[0, 1, 2, 3, 4, 5, 6, 7, 8]
[0, 1, 2, 3, 4, 5, 6, 7]
[0, 1, 2, 4, 5, 6, 7]
[0, 1, 2, 4, 6, 7]

In [32]:
#list comprehension
[x for x in range(10) if x%3==0]

[0, 3, 6, 9]

In [33]:
#String can be treated as a list of characters
a="abd ABD"
#Split a string and store it to a list
b=a.split(" ")
print(b)
# Join a list to string.
"@@".join(b)

['abd', 'ABD']

'abd@@ABD'

Tuple

Tuple is a list that you don't want to modify.

In [34]:
a = (1,2,3,4)
print(a)
print(type(a))
a[1] = 2

(1, 2, 3, 4)
<class 'tuple'>

TypeError: 'tuple' object does not support item assignment

In [35]:
my_pets = ("Chestnut", "Tibbs", "Dash", "Bast")
(aussie,b_collie,indoor_cat,outdoor_cat) = my_pets
print(aussie)
cats=(indoor_cat,outdoor_cat)
print(cats)

Chestnut
('Dash', 'Bast')

Dictionaries

Dictionaries are unordered, keyed lists. Lists are ordered, and the index may be viewed as a key.

In [36]:
a={"a":range(1),1:"abc","c":{"d":1,"e":2}}

In [37]:
type(a)

dict

In [38]:
a[0]

KeyError: 0

In [39]:
a[1]

'abc'

In [40]:
a["c"]["d"]

1

In [41]:
a.keys()

dict_keys(['a', 1, 'c'])

In [42]:
a.values()

dict_values([range(0, 1), 'abc', {'d': 1, 'e': 2}])

Sets

In [43]:
fruits = set(["apples","oranges","grapes","bananas"])
citrus = set(["lemons","oranges","limes","grapefruits","clementines"])
citrus_in_fruits = fruits & citrus   #intersection
print(citrus_in_fruits)
diff_fruits = fruits - citrus        # set difference
print(diff_fruits)
diff_fruits_reverse = citrus - fruits  # set difference
print(diff_fruits_reverse)
citrus_or_fruits = citrus | fruits     # set union
print(citrus_or_fruits)

{'oranges'}
{'bananas', 'grapes', 'apples'}
{'clementines', 'lemons', 'grapefruits', 'limes'}
{'grapefruits', 'clementines', 'lemons', 'grapes', 'limes', 'bananas', 'oranges', 'apples'}

In [44]:
a_list = ["a", "a","a", "b",1,2,3,"d",1]
print(a_list)
a_set = set(a_list)  # Convert list to set
print(a_set)         # Creates a set with unique elements
new_list = list(a_set) # Convert set to list
print(new_list)        # Obtain a list with unique elements

['a', 'a', 'a', 'b', 1, 2, 3, 'd', 1]
{1, 2, 3, 'b', 'a', 'd'}
[1, 2, 3, 'b', 'a', 'd']

### Functions
In Python, functions behave like any other object, such as an int or a list. That means that you can use functions as arguments to other functions, store functions as dictionary values, or return a function from another function. This leads to many powerful ways to use functions.

In [45]:
def square(x):
    """Square of x."""
    return x*x

def cube(x):
    """Cube of x."""
    return x*x*x

In [46]:
# create a dictionary of functions

funcs = {
    'square': square,
    'cube': cube,
}

In [47]:
x = 2

print(square(x))
print(cube(x))

for func in sorted(funcs):
    print(func, funcs[func](x))

4
8
cube 8
square 4

Variables in function.

In [48]:
def f(a=range(10)):
    for i in a:
        locals()["x_{}".format(i)]=i
        print(locals()["x_{}".format(i)])

In [49]:
f()

0
1
2
3
4
5
6
7
8
9

In [50]:
x_1

NameError: name 'x_1' is not defined

In [51]:
def f(a=range(10)):
    for i in a:
        globals()["x_{}".format(i)]=i
        print(globals()["x_{}".format(i)])

In [52]:
f()

0
1
2
3
4
5
6
7
8
9

In [53]:
x_1

1

# Higher-order function

A function that uses another function as an input argument or returns a function is known as a higher-order function (HOF). The most familiar examples are map and filter.

map: map applies a function to each item in an input list

filter: as the name suggests, filter creates a list of elements for which a function returns true.

reduce: a very useful function for performing some computation on a list and returning the result.

In [54]:
list(filter(lambda x: x%2==0, range(10)))

[0, 2, 4, 6, 8]

In [55]:
list(map(square, filter(lambda x:x%2==0, range(5))))

[0, 4, 16]

In [56]:
from functools import reduce
reduce(lambda x,y: (x*y), range(1,5))

24

In [57]:
def custom_sum(xs, transform):
    """Returns the sum of xs after a user specified transform."""
    return sum(map(transform, xs))

xs = range(5)
print(custom_sum(xs, square))
print(custom_sum(xs, cube))

30
100

In [58]:
# what does this function do?
s1 = reduce(lambda x, y: x+y, filter(lambda x: x%2==0,map(lambda x: x**2, range(1,10))))
print(s1)

# functional expressions and lambdas are cool
# but can be difficult to read when over-used
# Here is a more comprehensible version
s2 = sum(x**2 for x in range(2, 10, 2))
print(s2)

120
120

Generator

In [59]:
def f(x):
    for i in range(x):
        yield i/2

In [60]:
for i in f(10):
    print(i)

0.0
0.5
1.0
1.5
2.0
2.5
3.0
3.5
4.0
4.5

enumerate

In [61]:
# using an index in a loop
xs = [1,2,3,4]
for i in range(len(xs)):
    print(i, xs[i])
    
print()

# using enumerate
for i, x in enumerate(xs):
    print(i, x)

0 1
1 2
2 3
3 4

0 1
1 2
2 3
3 4

zip

In [62]:
xs = [1, 2, 3, 4]
ys = [10, 20, 30, 40]
zs = ['a', 'b', 'c', 'd', 'e']

print(list(zip(xs,ys)))

for x, y, z in zip(xs, ys, zs):
    print(x, y, z)

[(1, 10), (2, 20), (3, 30), (4, 40)]
1 10 a
2 20 b
3 30 c
4 40 d

Recursion

In [63]:
# The Fibonacci sequence is a classic recursion example

def fib1(n):
    """Fib with recursion."""

    # base case
    if n==0 or n==1:
        return 1
    # recursive caae
    else:
        return fib1(n-1) + fib1(n-2)

print([fib1(i) for i in range(10)])

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

Recursion is very useful and easy to use, But it is often not computationally efficient.  What if we did fib1(1000)?

### Classes

A class (or object) bundles data (known as attributes) and functions (known as methods) together. We access the attributes and methods of a class using the ‘.’ notation. Since everything in Python is an object, we have already been using this attribute acccess - e.g. when we call 'hello'.upper(), we are using the upper method of the instance 'hello' of the string class.

The creation of custom classes will not be covered in this course.

### Modules

In [64]:
import numpy
import numpy as np # using an alias
import numpy.linalg as la # modules can have submodules
from numpy import sin, cos, tan # bring trig functions into global namespace
# from numpy import * # frowned upon because it pollutes the namespace

In [65]:
#pip install..
#conda install..
#Copy paste the module in your working directory
#Copy the module to site-packages folder and so on.

### Exercises:

1.“Write a program that prints the numbers from 1 to 100. But for multiples of three print “Fizz” instead of the number and for the multiples of five print “Buzz”. For numbers which are multiples of both three and five print “FizzBuzz”.

In [66]:
for i in range(1, 101):
    if i % 15 == 0:
        print("FizzBuzz")
    elif i % 3 == 0:
        print("Fizz")
    elif i % 5 == 0:
        print("Buzz")
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

2.Write a program to calculate the number of times a given character c occurs in a given string s. Ignore differences in capitalization, i.e., ‘a’ and ‘A’ should be treated as a single key.

In [67]:
def find_char_1(s,c):
    from collections import Counter
    thecounter = Counter(s.lower())
    print(thecounter[c])

def find_char_2(s,c):
    tmp=list(s.lower().replace(" ",""))
    c=c.lower()
    if len(c)==1:      
        print(sum([1 for i in tmp if i==c]))
    else:
        print("c must be a single character")

s=input("input a string: ")
c=input("input a character: ")
find_char_1(s,c)
find_char_2(s,c)

input a string: mississippi
input a character: i
4
4

3.Create a list of the cubes of x for x in [0, 10] using

a for loop

a list comprehension

the map function

In [68]:
list1=[]
for i in range(11):
    list1.append(i**3)
list1

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [69]:
list2 = [x**3 for x in range(11)]
list2

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [70]:
list3 = list(map(lambda x:x**3,range(11)))
list3

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

4.We define a modified Fibonacci sequence using the following definition:

Given terms $t_i$ and $t_{i+1}$ where $i \in [1,\infty)$, term $t_{i+2}$ is computed using:

$t_{i+2}=t_{i}+(t_{i+1})^2$

$t_1=0$, $t_2=1$, find the 5th and 10th integers in this sequence.

In [71]:
t1=0
t2=1

def fun(x):
    if x==1:
        return t1
    elif x==2:
        return t2
    else:
        return ((fun(x-1)**2)+fun(x-2))

print(fun(5))
print(fun(10))

5
84266613096281243382112